<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="aspnetcidev" value="https://dotnet.myget.org/F/aspnetcore-ci-dev/api/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <add key="aspnetcidev" value="true" />
  </disabledPackageSources>
</configuration>
